[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
	ignore = dirty
[submodule "bundle/SudoEdit.vim"]
	path = bundle/SudoEdit.vim
	url = git://github.com/chrisbra/SudoEdit.vim.git
	ignore = dirty
[submodule "bundle/Railscasts-Theme-GUIand256color"]
	path = bundle/Railscasts-Theme-GUIand256color
	url = git://github.com/vim-scripts/Railscasts-Theme-GUIand256color.git
	ignore = dirty
[submodule "bundle/csv"]
	path = bundle/csv
	url = git://github.com/chrisbra/csv.vim.git
	ignore = dirty
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = git://github.com/vim-scripts/dbext.vim.git
	ignore = dirty
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
	ignore = dirty
[submodule "bundle/SudoEdit"]
	path = bundle/SudoEdit
	url = git://github.com/chrisbra/SudoEdit.vim.git
	ignore = dirty
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion
	ignore = dirty
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = git://github.com/int3/vim-extradite.git
	ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides
	ignore = dirty
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = git://github.com/tpope/vim-ragtag
	ignore = dirty
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround
	ignore = dirty
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
	ignore = dirty
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user
	ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired
	ignore = dirty
[submodule "bundle/textobj-entire"]
	path = bundle/textobj-entire
	url = git://github.com/kana/vim-textobj-entire.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/taboo"]
	path = bundle/taboo
	url = git://github.com/gcmt/taboo.vim.git
	ignore = dirty
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = git://github.com/Shougo/neosnippet.git
	ignore = dirty
[submodule "bundle/bufxill"]
	path = bundle/bufxill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/seek"]
	path = bundle/seek
	url = git://github.com/goldfeld/vim-seek.git
[submodule "bundle/xpath"]
	path = bundle/xpath
	url = git://github.com/actionshrimp/vim-xpath.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
    ignore = untracked
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git://github.com/rking/ag.vim.git
[submodule "bundle/sexy-railscasts-256-theme"]
	path = bundle/sexy-railscasts-256-theme
	url = git://github.com/davidkariuki/sexy-railscasts-256-theme.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = git@github.com:Shougo/unite.vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "bundle/qargs"]
	path = bundle/qargs
	url = git@github.com:nelstrom/vim-qargs.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "bundle/ConflictMotions"]
	path = bundle/ConflictMotions
	url = https://github.com/vim-scripts/ConflictMotions.git
[submodule "bundle/CountJump"]
	path = bundle/CountJump
	url = https://github.com/vim-scripts/CountJump.git
[submodule "bundle/ingo-library"]
	path = bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
    ignore = untracked
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = untracked
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "bundle/neomru"]
	path = bundle/neomru
	url = https://github.com/Shougo/neomru.vim.git
    ignore = untracked
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
